@model ChangeRoles
@{
    ViewData["Title"] = "Change Role";
    string period = this.Context.Request.Query["period"].ToString();
    if (String.IsNullOrEmpty(period))
    {
        period = DateTime.Now.ToString("yyyy-MM");
    }
}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/Membership/Index" class="btn drp-icon btn-rounded btn-primary dropdown-toggle">
                                    <i class="feather icon-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h3 class="m-b-10">Membership | @ViewData["Title"]</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <form asp-controller="Membership" asp-action="SubmitChangeRole" method="post">
                                    <article class="card mb-4">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Change member roles</h4>
                                        </div>
                                        <div class="card-body">
                                            <input type="hidden" asp-for="Id" />
                                            <div class="form-group">
                                                <label asp-for="UserName"></label>
                                                <input asp-for="UserName" class="form-control" disabled />
                                            </div>
                                            <div class="table-responsive">
                                                <table id="example" class="table" cellspacing="0" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th width="60%">Role Name</th>
                                                            <th width="40%">Is Role Registered</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Todo
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsTodoRegistered" class="form-control">                                                                    
                                                                    <label for="IsTodoRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Membership
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsMembershipRegistered" class="form-control">
                                                                    <label for="IsMembershipRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Role
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsRoleRegistered" class="form-control">
                                                                    <label for="IsRoleRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Self Service
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsSelfServiceRegistered" class="form-control">
                                                                    <label for="IsSelfServiceRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Employee
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsEmployeeRegistered" class="form-control">
                                                                    <label for="IsEmployeeRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Recruitment
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsRecruitmentRegistered" class="form-control">
                                                                    <label for="IsRecruitmentRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Attendance
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsAttendanceRegistered" class="form-control">
                                                                    <label for="IsAttendanceRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Leave
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsLeaveRegistered" class="form-control">
                                                                    <label for="IsLeaveRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Award
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsAwardRegistered" class="form-control">
                                                                    <label for="IsAwardRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Information
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsInformationRegistered" class="form-control">
                                                                    <label for="IsInformationRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Asset
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsAssetRegistered" class="form-control">
                                                                    <label for="IsAssetRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Expense
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsExpenseRegistered" class="form-control">
                                                                    <label for="IsExpenseRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Payroll
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsPayrollRegistered" class="form-control">
                                                                    <label for="IsPayrollRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Appraisal
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsAppraisalRegistered" class="form-control">
                                                                    <label for="IsAppraisalRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Ticket
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsTicketRegistered" class="form-control">
                                                                    <label for="IsTicketRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="m-t-10 label theme-bg f-12 text-white" style="border-radius:15px">
                                                                    Settings
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="switch d-inline m-r-10">
                                                                    <input asp-for="IsSettingsRegistered" class="form-control">
                                                                    <label for="IsSettingsRegistered" class="cr"></label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </article>
                                </form>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ Main Content ] end -->


@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
