<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/website/bootstrap.css" rel="stylesheet"/>
    <link href="/css/website/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/website/line-icons.css" rel="stylesheet"/>
    <link href="/css/website/owl.carousel.css" rel="stylesheet"/>
    <link href="/css/website/owl.theme.css" rel="stylesheet"/>
    <link href="/css/website/nivo-lightbox.css" rel="stylesheet"/>
    <link href="/css/website/magnific-popup.css" rel="stylesheet"/>
    <link href="/css/website/slicknav.css" rel="stylesheet"/>
    <link href="/css/website/animate.css" rel="stylesheet"/>
    <link href="/css/website/main.css" rel="stylesheet"/>
    <link href="/css/website/responsive.css" rel="stylesheet"/>
    <link href="/css/website/Site.css" rel="stylesheet"/>
    @RenderSection("Styles", required: false)


</head>
<body>
<!-- Header Section Start -->
<header id="hero-area" data-stellar-background-ratio="0.5">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="/website/" class="navbar-brand"><img class="img-fulid" src="/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lnr lnr-menu"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/website/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/website/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/website/Development">Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/website/qa">Quality Assurance</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/website/team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="" data-toggle="modal" data-target="#usModal">Why Us?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/website/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
            <li>
                <a class="page-scroll" href="/website/">Home</a>
            </li>
            <li>
                <a class="page-scroll" href="/website/services">Services</a>
            </li>
            <li>
                <a class="page-scroll" href="/website/Development">Development</a>
            </li>
            <li>
                <a class="page-scroll" href="/website/qa">Quality Assurance</a>
            </li>

            <li>
                <a class="page-scroll" href="/website/team">Team</a>
            </li>
            <li>
                <a class="page-scroll" href="#" data-toggle="modal" data-target="#usModal">Why Us?</a>
            </li>
            <li>
                <a class="page-scroll" href="/website/contact">Contact</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

    </nav>
    <!-- Navbar End -->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="contents text-center">
                    <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">MVP-Soft: Freelance flexibility meets corporate experience.</h1>
                    <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">MVP-Soft has developed 50+ software tools, helping companies across a wide variety of sectors compete more effectively in the marketplace. Our efficiency in delivering precisely on requirements is legendary among our clients. </p>
                    <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                        With the addition of a skilled designer and a dedicated QA specialist to our ranks, we are now ready to provide an even more expansive range of web and software development solutions.
                        Our freelance experience taught us the importance of using lean production techniques to hit our delivery deadlines. Our corporate experience helped us understand intricate organizational needs. Working in so many different kinds of enterprises taught us to understand all kinds of requirements and to provide advice when we see a better solution to accomplish the business objectives.
                    </p>
                    <h1 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">The key to our success: we listen and deliver on time.</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->
    @RenderBody()
</body>
</html>