@{
    Layout = "_LayoutWebsite";
}

 
<!-- Features Section Start -->
<section id="features" class="section" data-stellar-background-ratio="0.2">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Custom Software Development</h2>
            <hr class="lines">
            <p class="section-subtitle">Off-the-shelf applications cannot compete with the flexibility and efficiency of custom-designed, tailor-made software solutions. Our made-to-order software provides support for the specific needs of your business, including features which might be impossible to obtain from an off-the-shelf solution.</p>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <div class="text">
                                <p>At MVP-Soft we don’t just create custom software, we build custom solutions to your business problems. Whether you are a start-up or an established business, we will be happy to assist you at any and every stage of the software development lifecycle: from planning, analysis, and prototyping to the development, deployment, and maintenance of a complete solution.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <div class="text">
                                <h4>What we can do for you:</h4>
                                <ul>
                                    <li>WE BUILD NEW CUSTOM SOFTWARE</li>
                                    <li>WE IMPROVE EXISTING SOFTWARE</li>
                                    <li>WE HOST & SUPPORT YOUR APPLICATIONS</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="show-box">
                    <img class="img-fulid" src="/img/features/feature.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->



<!-- Start Video promo Section -->
<section class="video-promo section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="video-promo-content text-center">
                    <h3 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Software Maintenance & Support</h3>
                    <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Sometimes project completion is just the beginning.</h2>
                    <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                        Whether your goal is to reduce maintenance costs or free up your in-house team for another project, outsourcing software maintenance can help your business be more lean, agile, and productive. The experienced MVP-Soft maintenance and support team is the best choice for you.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Video Promo Section -->