@{
        Layout = "_LayoutWebsite";
}
<style>.onlyHome{display:block;}</style>



<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="lnr lnr-arrow-up"></i>
</a>

@*<div id="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>*@


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="usModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">Why Us?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>According to many online sources, Serbia is a great place for outsourcing. </p>
                <p>Serbia is in the group of the biggest software exporters globally. Furthermore, exports are growing 25% per year.</p>
                <p>Another astonishing fact is that Serbia has the highest number of software developers per capita in Europe. Thanks to 37 technical educational institutions. Also, the elementary education supports advanced skills in mathematics.  It is not a wonder that programming is the first choice of the new students. </p>
                <p>The English language is mandatory in schools in Serbia. For eight years! By the English skill ranking, Serbia ranked third worldwide. </p>
                <p>The best part is yet to come. That is the price-value ratio compared to the project performed in the Western countries. We are not analyzing India since the result of the work is not measurable. According to study, 95% of their developers are not able to write functionally correct code. If you need an IT service with high-quality content, the average price per hour would be around $37. Freelancers usually charge their hour between $27-$40, but that’s for moderate work only.</p>
                <p><img class="img-fluid" src="img/team/chart-1.jpg" alt="" /></p>
                <p>There are international companies that operate from Serbia. Furthermore, Serbia has one of the most establishing development centers because of the low-level cultural boundaries to the Western countries, smooth communication, and the work ethics.</p>
                <p>MVP-Soft is a Serbian team that spent more that 100.000 hours working together. With a mindset of the worker from Western Europe, we are providing service with a legendary efficiency. We have experience with freelance jobs as well as with the corporate structure.</p>
                <p>Whether it is a short project or the long-term cooperation, we can tailor the solution to your needs. Since we are working by the industry standards in Serbia, the cost-effective solution for your company is assured. </p>
                <p><img class="img-fluid" src="img/team/chart-2.jpg" alt="" /></p>
                <p>Timely delivery is another advantage of our team. Experienced individuals, we are not getting into depression caused by trivial matters. With some of us being husbands and parents, we are fully aware of our duties. You are not going to get nervous either while working with us.</p>
                <p>We are using Scrum as an Agile software development framework. The detailed interview is the key to creating the proper product backlog (list of all functionalities). We will listen to your needs and recommend better solutions if needed. This way, we will perform better during the Scrum sprints.</p>
                <p>Since our work is very transparent, you can see the results of the sprint review. As recommended in Scrum, you can also help us in a prioritization of the functionalities. </p>
                <p>That is because you can find an honest and long-term partner in us. As the time goes by, confidence in our work will rise. That is the experience with all our previous clients. Some of them became our friends. </p>
                <p>
                    We are inviting you to our friendly group, too. Software developers backed by designer and one of the best QA, we have a variety of interests.
                    You don’t have to be shy we always enjoy meeting new people. Get in touch with us.
                    <br />
                    Source: https://yalantis.com/blog/cost-services-europe-market-research/
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>