@{
        Layout = "_LayoutWebsite";
}




<!-- Portfolio Section -->
<section id="portfolios" class="section">
    <!-- Container Starts -->
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Quality Assurance</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                Functional testing:
                We design and execute functional testing  to give you peace of mind that your custom application will be robust and stable. We provide manual, semi-automated and automated operative testing services to ensure that both the front-end and back-end components of the application work correctly and as designed.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="lnr lnr-pencil"></i>
                    </div>
                    <h4>Performance testing</h4>
                    <p>
                        We reveal bottlenecks and breaking points in the web application, assess current and planned data and user loads, and tune the software and hardware components.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
                    <div class="icon">
                        <i class="lnr lnr-code"></i>
                    </div>
                    <h4>Usability testing</h4>
                    <p>
                        We make sure your web application is user-friendly with simple, intuitive navigation.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="lnr lnr-mustache"></i>
                    </div>
                    <h4>Compatibility testing</h4>
                    <p>
                        We check your web application for browser compatibility, operating system compatibility, and compatibility with various devices (such as tablets and cell phones) to ensure it behaves flawlessly regardless of browser type or version.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->
<!-- Counter Section Start -->
<div class="counters section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="facts-item">
                    <div class="icon">
                        <i class="lnr lnr-clock"></i>
                    </div>
                    <div class="fact-count">
                        <h3><span class="counter">100000</span></h3>
                        <h4>Working Hours</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="facts-item">
                    <div class="icon">
                        <i class="lnr lnr-briefcase"></i>
                    </div>
                    <div class="fact-count">
                        <h3><span class="counter">50</span></h3>
                        <h4>Completed Projects</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="facts-item">
                    <div class="icon">
                        <i class="lnr lnr-user"></i>
                    </div>
                    <div class="fact-count">
                        <h3><span class="counter">20</span></h3>
                        <h4>No. of Clients</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="facts-item">
                    <div class="icon">
                        <i class="lnr lnr-heart"></i>
                    </div>
                    <div class="fact-count">
                        <h3><span class="counter">689</span></h3>
                        <h4>Peoples Love</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Section End -->

