@{
    Layout = "_LayoutWebsite";
}

<!-- Services Section Start -->
<section id="services" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Web Development and Design</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                With today's internet connectivity, customers access information about your brands, products, and services, with or without you being online. If you delay in getting a compelling web presence with a responsive website, you risk losing business.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="lnr lnr-pencil"></i>
                    </div>
                    <h4>Development</h4>
                    <p>
                        At MVP-Soft, development and implementation of custom web applications is one of our core areas of expertise. We take an innovative and collaborative approach to develop web applications to meet your most ambitious and complex web requirements and solve your business's specific needs.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
                    <div class="icon">
                        <i class="lnr lnr-code"></i>
                    </div>
                    <h4>Agile Scrum</h4>
                    <p>
                        We use Agile Scrum and short release cycles to provide early visibility into the future of your product from its earliest stages. This fast, iterative, build-and-review approach gives our customers a high level of trust and ample opportunities to make adjustments along the way.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="lnr lnr-mustache"></i>
                    </div>
                    <h4>Designs</h4>
                    <p>
                        We specialize in Responsive Web Designs, HTML 5 Websites, Custom ERPs, Custom CMSs, Website Redesign, Landing Pages, and Graphics, Our designs will bring greater value to your data!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->