@{
        Layout = "_LayoutWebsite";
}


  
<!-- Team section Start -->
<section id="team" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Our Team</h2>
            <hr class="lines">
            @*<p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p>*@
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="single-team">
                    <img src="/img/team/team1.jpg" alt="">
                    <div class="team-details">
                        <div class="team-inner">
                            <h4 class="team-title">Milos Rasuo</h4>
                            <p>COO & Co-Founder</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="single-team">
                    <img src="/img/team/team2.jpg" alt="">
                    <div class="team-details">
                        <div class="team-inner">
                            <h4 class="team-title">Vladica Ognjanovic</h4>
                            <p>Principal</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="single-team">
                    <img src="/img/team/team3.jpg" alt="">
                    <div class="team-details">
                        <div class="team-inner">
                            <h4 class="team-title">Predrag Filipovic</h4>
                            <p>CTO & Co-Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row justify-content-md-center">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="single-team">
                    <img src="/img/team/team4.jpg" alt="">
                    <div class="team-details">
                        <div class="team-inner">
                            <h4 class="team-title">Darko Medenica</h4>
                            <p>Designer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="single-team">
                    <img src="/img/team/team5.jpg" alt="">
                    <div class="team-details">
                        <div class="team-inner">
                            <h4 class="team-title">Marjan Stojnev</h4>
                            <p>QA Team Leader</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team section End -->